#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.items_not_ranked {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.unranked_cell {
    width: 100px;
    height: 170px;
    text-align: center;
    margin-left: 10px;
}

.unranked_cell img {
    width: 100%;
    height: 100%;
}