################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RankingApp/DesignTimeBuild/.dtbcache.v2
/.vs/RankingApp/v17/.suo
/.vs/RankingApp/v17/DocumentLayout.backup.json
/.vs/RankingApp/CopilotIndices/17.14.1204.46620/CodeChunks.db
/.vs/RankingApp/CopilotIndices/17.14.1204.46620/CodeChunks.db-shm
/.vs/RankingApp/CopilotIndices/17.14.1204.46620/CodeChunks.db-wal
/.vs/RankingApp/CopilotIndices/17.14.1204.46620/SemanticSymbols.db
/.vs/RankingApp/CopilotIndices/17.14.1204.46620/SemanticSymbols.db-shm
/.vs/RankingApp/CopilotIndices/17.14.1204.46620/SemanticSymbols.db-wal
/.vs/RankingApp/FileContentIndex/302c590e-0988-455f-8b14-370165832e68.vsidx
/.vs/RankingApp/FileContentIndex/64234b4c-0fc3-4e73-ba17-88600ca4450a.vsidx
/.vs/RankingApp/FileContentIndex/7bfa25ef-4712-41fd-9e5d-d18e3346e108.vsidx
/.vs/RankingApp/FileContentIndex/b8227247-b3c1-4e3c-97df-ec0ed1e0c2af.vsidx
/.vs/RankingApp/FileContentIndex/b9214011-5b0b-424a-a7f2-be5a4ed89cf2.vsidx
/.vs/RankingApp/FileContentIndex/d1bf284b-2e9e-40ae-a65b-895b6e268dce.vsidx
/.vs/RankingApp/copilot-chat/c63a9ce5/sessions/7c3729b1-b66e-4c56-a24d-b01b433dee23
/.vs/RankingApp/FileContentIndex/16a87c5a-09db-4d5e-a5f0-a6837b933822.vsidx
/.vs/RankingApp/v17/DocumentLayout.json
/.vs/RankingApp/v17/.futdcache.v2
/.vs/RankingApp/config/applicationhost.config
/rankingapp.client/obj/Debug
/RankingApp.Server/bin/Debug/net9.0
/RankingApp.Server/obj/Debug/net9.0/refint
/RankingApp.Server/obj/Debug/net9.0/ref
/RankingApp.Server/obj/Debug/net9.0/apphost.exe
/RankingApp.Server/obj/Debug/net9.0/RankingA.8488B99D.Up2Date
/RankingApp.Server/obj/Debug/net9.0/RankingApp.Server.AssemblyInfo.cs
/RankingApp.Server/obj/Debug/net9.0/RankingApp.Server.AssemblyInfoInputs.cache
/RankingApp.Server/obj/Debug/net9.0/RankingApp.Server.csproj.BuildWithSkipAnalyzers
/RankingApp.Server/obj/Debug/net9.0/RankingApp.Server.csproj.CoreCompileInputs.cache
/RankingApp.Server/obj/Debug/net9.0/RankingApp.Server.csproj.FileListAbsolute.txt
/RankingApp.Server/obj/Debug/net9.0/RankingApp.Server.dll
/RankingApp.Server/obj/Debug/net9.0/RankingApp.Server.genruntimeconfig.cache
/RankingApp.Server/obj/Debug/net9.0/RankingApp.Server.MvcApplicationPartsAssemblyInfo.cache
/RankingApp.Server/obj/Debug/net9.0/RankingApp.Server.MvcApplicationPartsAssemblyInfo.cs
/RankingApp.Server/obj/Debug/net9.0/RankingApp.Server.pdb
/RankingApp.Server/obj/Debug/net9.0/RankingApp.Server.sourcelink.json
/RankingApp.Server/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/RankingApp.Server/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/RankingApp.Server/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/RankingApp.Server/obj/Debug/net9.0/staticwebassets.build.json
/RankingApp.Server/obj/Debug/net9.0/staticwebassets.build.json.cache
/RankingApp.Server/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
/RankingApp.slnLaunch.user
/rankingapp.client/rankingapp.client.esproj.user
